a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.menu {
  display: none;
}

.drawer-nav {
  display: none;
}
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  background-color: white;
  color: black;
  z-index: 10;
  width: 100%;
}

.header-title-img {
  width: 80px;
  height: auto;
}

.header-nav-list {
  display: flex;
  font-weight: bold;
  cursor: pointer;
}

.header-nav-item {
  margin-right: 30px;
}

.top-wrapper {
  position: relative;
  height: 250px;
  background: url(../img/mv.png) center / cover;
}

.top-title {
  position: absolute;
  top: 60%;
  left: 45%;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.company-wrapper{
  width: 80%;
  padding: 100px 0;
  margin: auto;
}
.company-item{
  width: 100%;
  border-bottom: solid 1px black;
}
.company-item-name,
.company-item-data{
  border-top: solid 1px black;
  padding: 20px 0;
}
.company-item-name{
  width: 30%;
}
.company-item-data{
  width: 70%;
}


.contact-wrapper {
  background-color: lightgray;
  height: 400px;
  text-align: center;
  align-items: center;
}

.contact-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  padding-top: 130px;
}

.contact-text {
  padding: 20px 0 0 0;

}

.contact-button {
  width: 300px;
  padding: 10px 0;
  color: white;
  background-color: red;
  text-align: center;
  margin: 30px auto;
  display: block;
}

.footer {
  width: 100%;
  background-color: black;
  color: white;
  padding: 15px 0;
  text-align: center;
}

.footer-item {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.footer-nav-item::after {
  content: "|";
  display: inline-block;
  padding: 0 10px;
}
.footer-nav-list {
  display: flex;
  font-weight: bold;
  width: 100%;
  justify-content: center;
  font-size: 12px;
  margin-bottom: 20px;
}

.copyright {
  font-size: 10px;
}
@media screen and (max-width:768px) {
  .header-nav {
    display: none;
  }

  .menu {
    display: inline-block;
    width: 50px;
    height: 32px;
    cursor: pointer;
    position: relative;
    z-index: 10;
  }

  .menu-line-top,
  .menu-line-middle,
  .menu-line-bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }

  .menu-line-top {
    top: 0;
  }

  .menu-line-middle {
    top: 14px;
  }

  .menu-line-bottom {
    bottom: 0;
  }

  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }

  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }

  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }

  .drawer-nav {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: #fff;
    transition: .7s;
  }

  .drawer-nav-list {
    padding-top: 80px;
    text-align: center;
  }

  .drawer-nav-item {
    margin-top: 40px;
    color: #0033cc;
    font-size: 18px;
  }

  .in {
    transform: translateX(100%);
  }

  .footer-copyright {
    margin: 0 auto;
  }

  .footer-nav-item {
    text-align: center;
    margin-top: 10px;
    width: 100%;
  }

  .service-card {
    width: 100%;
    margin-right: 0;
  }

  .blog-item {
    width: 100%;
    margin-right: 0;
  }

  .recruit-title {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 60%;
  }

  .company-title {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 10%;
  }
    .footer-nav-list {
      display: block;
    }
        .footer-nav-item::after {
          content: none;
        }
}