a{
  text-decoration: none;
  color: inherit;
}
a:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.header{
position: fixed;
display: flex;
justify-content: space-between;
align-items: center;
height: 70px;
padding: 0 30px;
background-color: white;
color: black;
z-index: 10;
width: 100%;
}
.header-title-img {
  width: 80px;
  height: auto;
}
.header-nav-list{
  display: flex;
  font-weight: bold;
  cursor: pointer;
}
.header-nav-item{
  margin-right: 30px;
}
.menu{
  display: none;
}
.drawer-nav{
  display: none;
}
.top-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63%;
  background: url(../img/mv.png) center / cover;
}
.main-title{
  color: white;
  font-size: 50px;
  font-weight: bold;
}
.main-text{
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.main-wrapper{
background-color: black;
width: 100%;
height: 1050px;
}
.main-top{
  padding: 50px;
}
.top-title{
  color: white;
  font-size: 30px;
  text-align: left;
  padding: 30px 0;
}
.top-text{
  color: white;
  font-size: 17px;
  text-align: left;
}

.service-top-title{
  text-align: center;
  padding: 30px;
  font-weight: bold;
  color: black;
  margin-top: 20px;
  font-size: 40px;
}
.service-wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.service-card{
  width: 45%;
}
.service-img img{
  width:100%;
  padding: 30px;
}
.service-text-box{
  padding: 20px;
}
.service-title{
  font-weight: bold;
  padding: 10px;
}
.service-text{
  font-size: 15px;
}
.service-button,
.blog-button{
  width: 300px;
  padding: 10px 0;
  color: white;
  background-color: red;
  text-align: center;
  margin: 60px auto;
  display: block;

}

.news-wrapper{
  background-color: black;
  padding: 80px 0;
}
.news-inner{
  width: 85%;
  margin: 0 auto;
}
.news-head{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.news-top-title{
color: white;
font-size: 40px;
}
.news-button{
  width: 200px;
  padding: 10px 0;
  color: white;
  background-color: red;
  text-align: center;
  cursor: pointer;
  display: block;
}
.news-item{
  background-color: white;
  padding: 20px;
  display: flex;
  text-align: center;
  border-bottom: 10px solid black;
  width: 83%;
  margin: 10px auto;
}
.news-date{
  padding-right: 15px;
}
.news-text{
  font-weight: bold;
}

.blog-wrapper{
  margin: 0 auto;
}
.blog-title{
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px 0;
  text-align: center;
  font-size: 30px;
}
.blog-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.blog-item{
  width: 30%;
}
.blog-img{
  width: 100%;
}
.blog-date{
font-size: 18px;
color: gray;
}
.blog-text{
  font-weight: bold;
}

.flex-item-cr{
  display: flex;
  width: 100%;
  position: relative;
}
.company-item{
  background-color: red;
  width: 50%;
  height: 250px;
  margin-top: 100px;
  cursor: pointer;
  text-align: center;
}
.company-title {
color: white;
font-weight: bold;
padding: 40px;
font-size: 40px;
position: absolute;
top: 45%;
left: 15%;
}
.recruit-title{
  color: white;
  font-weight: bold;
  padding: 40px;
  font-size: 40px;
  position: absolute;
  top: 45%;
  left: 65%;
}

.recruit-item{
  background-color: black;
  width: 50%;
  height: 250px;
  margin-top: 100px;
  cursor: pointer;
  text-align: center;
}

.contact-wrapper{
  background-color: lightgray;
  height: 400px;
  text-align: center;
  align-items: center;
}
.contact-title{
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  padding-top: 130px;
}
.contact-text{
  padding: 20px 0 0 0;

}
.contact-button {
  width: 300px;
  padding: 10px 0;
  color: white;
  background-color: red;
  text-align: center;
  margin: 30px auto;
  display: block;
}

  .footer{
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px 0;
    text-align: center;
  }
    .footer-item {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      align-items: center;
    }
    .footer-nav-item::after{
      content: "|";
      display: inline-block;
      padding: 0 10px;
    }
    .footer-nav-list {
      display: flex;
      font-weight: bold;
      width: 100%;
      justify-content: center;
      font-size: 12px;
      margin-bottom: 20px;
    }
    .copyright {
      font-size: 10px;
    }

    @media screen and (max-width:768px)
    {
    .header-nav {
        display: none;
      }
    
      .menu {
        display: inline-block;
        width: 50px;
        height: 32px;
        cursor: pointer;
        position: relative;
        z-index: 10;
      }
    
      .menu-line-top,
      .menu-line-middle,
      .menu-line-bottom {
        display: inline-block;
        width: 100%;
        height: 4px;
        background-color: #000;
        position: absolute;
        transition: 0.5s;
      }
    
      .menu-line-top {
        top: 0;
      }
    
      .menu-line-middle {
        top: 14px;
      }
    
      .menu-line-bottom {
        bottom: 0;
      }
    
      .menu.open span:nth-of-type(1) {
        top: 14px;
        transform: rotate(45deg);
      }
    
      .menu.open span:nth-of-type(2) {
        opacity: 0;
      }
    
      .menu.open span:nth-of-type(3) {
        top: 14px;
        transform: rotate(-45deg);
      }
    
      .drawer-nav {
        display: block;
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        background: #fff;
        transition: .7s;
      }
    
      .drawer-nav-list {
        padding-top: 80px;
        text-align: center;
      }
    
      .drawer-nav-item {
        margin-top: 40px;
        color: #0033cc;
        font-size: 18px;
      }
    
      .in {
        transform: translateX(100%);
      }
      .main-title{
        font-size: 45px;
        text-align: center;
      }
    .main-text{
      font-size: 18px;
      text-align: center;
    }
      .footer-copyright {
        margin: 0 auto;
      }
      .footer-nav-list{
      display: block;
      }
    .footer-nav-item::after {
    content: none;
  }

    .service-card {
      width: 100%;
      margin-right: 0;
    }
  
    .blog-item {
      width: 100%;
      margin-right: 0;
    }

            .recruit-title {
              font-size: 30px;
              position: absolute;
              top: 50%;
              left: 60%;
            }
      
            .company-title {
              font-size: 30px;
              position: absolute;
              top: 50%;
              left: 10%;
            }
      .footer-nav-item {
        text-align: center;
        margin-top: 10px;
        width: 100%;
      }
    }



